hall_of_fame_individuals/05.28.25/all_molds*
hall_of_fame_individuals/05.28.25/all_molds.blend
hall_of_fame_individuals/05.28.25/all_molds.blend1
hall_of_fame_individuals/05.28.25/eyes_open.b*
eyes_open_knit.stl
Full_Body_Scans/poisson_patched_full_body_scan.stl